<!DOCTYPE html>
<html lang ="es">
    <head>
        <title> Beauchef Activities</title>
        <link rel="stylesheet" type ="text/css" href="{{url_for('static', filename = 'css/style.css')}}"></link>
    </head>
    <body>
        <div class="container" id= "logo">
            <h2>Bienvenidos a Beauchef Activities</h2>
        </div>
        <div class="container" id= "welcome_msg">  
            <h4>Apreta alguno de los siguientes botones para realizar una acción</h4>
        </div>
        <div class="container" id= "action_buttons">
            <button id="addActivities-button">Agregar Actividad</button>
            <button id="listActivities-button">Listado</button>
            <button id="stats-button">Estadisticas</button>
        </div>
        <div class="table-container" id="table-container">
            <div><h3>Aqui puedes ver las actividades recientes</h3></div>
            <table border="1" class ="table">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Termino</th>
                        <th>Comuna</th>
                        <th>Sector</th>
                        <th>Tema</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2025-04-06<br>12:00</td>
                        <td>2025-04-06<br>15:00</td>
                        <td>Santiago</td>
                        <td>R.E.P.O</td>
                        <td>Juegos</td>
                        <td><img src="../../static/media/memori.png" width="320" height="240"></td>
                    </tr>
                    <tr>
                        <td>2025-05-05<br>11:00</td>
                        <td>2025-05-05<br>16:00</td>
                        <td>Santiago</td>
                        <td>R.E.P.O</td>
                        <td>Juegos</td>
                        <td><img src="../../static/media/JorgeisDead.png" width="320" height="240"></td>
                    </tr>
                    <tr>
                        <td>2025-06-04<br>10:00</td>
                        <td>2025-06-04<br>17:00</td>
                        <td>Santiago</td>
                        <td>R.E.P.O</td>
                        <td>Juegos</td>
                        <td><img src="../../static/media/Dantetrabajen.png" width="320" height="240"></td>
                    </tr>
                    <tr>
                        <td>2025-07-03<br>09:00</td>
                        <td>2025-07-03<br>18:00</td>
                        <td>Santiago</td>
                        <td>R.E.P.O</td>
                        <td>Juegos</td>
                        <td><img src="../../static/media/tomdead.png" width="320" height="240"></td>
                    </tr>
                    <tr>
                        <td>2025-08-02<br>08:00</td>
                        <td>2025-08-02<br>19:00</td>
                        <td>Santiago</td>
                        <td>R.E.P.O</td>
                        <td>Juegos</td>
                        <td><img src="../../static/media/nikagachadocomosiempre.png" width="320" height="240"></td>
                    </tr>
                    {% if data%}
                        <script>console.log("Pasó el if data")</script>
                        {% for act in data%}
                            <tr>
                                <td>{{act.inicio}}</td>
                                <td>{{act.termino}}</td>
                                <td>{{act.comuna}}</td>
                                <td>{{act.sector}}</td>
                                <td>{{act.tema}}</td>
                                <td><img src="{{act.path_image}}" width="320" height="240"></td>
                            </tr>
                        {% endfor%}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <script src="{{url_for('static', filename ='js/func_aux.js')}}"></script>
    </body>

</html>