<!DOCTYPE html>
<html lang ="es">
    <head>
        <title> Beauchef Activities</title>
        <link rel="stylesheet" type ="text/css" href="{{url_for('static', filename = 'css/style.css')}}"></link>
    </head>
    <body>
        <div class="container" id= "welcome_msg">
            <h2>Actividad Desplegada</h2>
        </div>
        <div class="table-container" id="table_container_donde">
            <div class ="container">
                <h2>¿Donde?</h2>
            </div>
            <table border="1" id = "tabla_agregadora_donde" class="table">
                <thead>
                    <tr>
                        <th>Región</th>
                        <th>Comuna</th>
                        <th>Sector</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                        <tr>
                            <td>{{data.region}}</td>
                            <td>{{data.comuna}}</td>
                            <td>{{data.sector}}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-container" id="table_container_quien">
            <div class="container">
                <h2>¿Quien organiza?</h2>
            </div>
            <table border="1" id = "tabla_agregadora_quien"class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Numero de Celular</th>
                        <th>Contactor por</th>

                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                        <tr>
                            <td>{{data["organizador"]}}</td>
                            <td>{{data["email"]}}</td>
                            <td>{{data["celular"]}}</td>
                            <td>{{data["contacto"]}} - {{data["detalle_contacto"]}}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-container" id="table_container_cuando">
            <div class="container">
                <h2>¿Cuando y de que?</h2>
            </div>
            <table border="1" id = "tabla_agregadora_cuando"class="table">
                <thead>
                    <tr>
                        <th>Dia-Hora Inicio</th>
                        <th>Dia-Hora- Termino</th>
                        <th>Descripción</th>
                        <th>Tema</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                        <tr>
                            <td>{{data["inicio"]}}</td>
                            <td>{{data["termino"]}}</td>
                            <td>{{data["descripcion"]}}</td>
                            <td>{{data["tema"]}}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-container" id="table_container_fotos">
            <div class="container">
                <h2>Fotos</h2>
            </div>
            <table border="1" id = "tabla_agregadora_fotos"class="table">
                <thead>
                    <tr>
                        <th>Foto 1</th>
                        <th>Foto 2</th>
                        <th>Foto 3</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data%}
                        <tr>
                            <td><img src="{{data.foto1}}" width="320" height="240"></td>
                            <td><img src="{{data.foto2}}" width="320" height="240"></td>
                            <td><img src="{{data.foto3}}" width="320" height="240"></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <table border="1" id = "tabla_agregadora_fotos2"class="table">
                <thead>
                    <tr>
                        <th>Foto 4</th>
                        <th>Foto 5</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data%}
                        <tr>
                            <td><img src="{{data.foto4}}" width="320" height="240"></td>
                            <td><img src="{{data.foto5}}" width="320" height="240"></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="container" id= "action_buttons">
            <button id="listActivities-button">Listado Actividades</button>
            <button id="index-button">Inicio</button>
        </div>
        <script> const ROUTES = {
            index: "{{url_for('index')}}",
            list_route: "{{url_for('list_route')}}"
        }</script>
        <script src="{{url_for('static', filename ='js/full_info_scr.js')}}"></script>
        <script src="../js/full_info_scr.js"></script>
    </body>
</html>