<!DOCTYPE html>
<html lang ="es">
    <head>
        <title> Beauchef Activities</title>
        <link rel="stylesheet" type ="text/css" th:href="@{/css/style.css}"></link>
    </head>
    <body>
        <div class="container" id= "logo">
            <h2>Beauchef Activities</h2>
        </div>
        <div class="container" id= "welcome_msg">  
            <h4>Vota por las actividades en las que has participado!!!</h4>
        </div>
        <div class="container" id= "action_buttons">
            <button id="index-button">Inicio</button>
        </div>
        <div class="table-container" id="table-container">
            <div><h3>Listado de Actividades</h3></div>
            <table border="1" class ="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Inicio</th>
                        <th>Sector</th>
                        <th>Nombre</th>
                        <th>Tema</th>
                        <th>Nota</th>
                        <th>Votar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="act : ${data}">
                        <td th:text = "${act['id']}"></td>
                        <td th:text = "${act['inicio']}"></td>
                        <td th:text = "${act['sector']}"></td>
                        <td th:text = "${act['nombre']}"></td>
                        <td th:text = "${act['tema']}"></td>
                        <td><img th:src="@{${act['nota']}}"></td>
                        <td><button id = "vote-button">Votar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script th:inline="javascript"> 
            const ROUTES = {
                addAct: /*[[@{/add-act}]]*/,
                list: /*[[@{/list}]]*/,
                stats: /*[[@{/stats}]]*/,
                vote: /*[[@{/vote}]]*/
            }
        </script>
        <script th:src="@{/js/vote_scr.js}"></script>
    </body>

</html>